<div class="mypage" >
  <div class="bg">
    <ng-container *ngIf="dataSource.length > 0">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef>Username</th>
          <td mat-cell *matCellDef="let element">{{ element.username }}</td>
        </ng-container>

        <ng-container *ngFor="let date of getAttendanceDates()">
          <ng-container [matColumnDef]="date" width="10%">
            <th mat-header-cell *matHeaderCellDef>{{ date }}</th>
            <td mat-cell *matCellDef="let element"
              [ngClass]="{'absent': getAttendanceStatus(element, date)==='Absent'}">
              {{ getAttendanceStatus(element, date)}}</td>
          </ng-container>

        </ng-container>

        <ng-container matColumnDef="department">
          <th mat-header-cell *matHeaderCellDef>Speciality</th>
          <td mat-cell *matCellDef="let element">{{ element.department }}</td>
        </ng-container>

        <!-- Table rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; let even = even;" [ngClass]="{gray: even}"></tr>
      </table>
    </ng-container>

  </div>
</div>
