<!DOCTYPE html>
<html>

<head>
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>

<body>
	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">
		<div class="login">
			<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
				<label for="chk" aria-hidden="true">Login</label>
				<input type="text" [(ngModel)]="email" formControlName="email" placeholder="Enter Email" required>
				<input type="text" [(ngModel)]="password" formControlName="password" placeholder="Enter Password"
					required>
				<button>Login</button>
			</form>
			<button (click)="goToRegister()">Sign Up</button>

		</div>
	</div>
</body>

</html>